{
  "openapi": "3.1.0",
  "info": {
    "title": "Puddle Storefront API",
    "description": "The Puddle Storefront API provides endpoints for integrating the Puddle platform with external online stores, enabling seamless product management, order processing, and customer interactions.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.puddle.co.za/storefront/v1"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "operationId": "accounts-get",
        "summary": "Get current customer",
        "description": "Retrieves the currently authenticated customer session profile. Requires `Authorization: Bearer <storefront-public-key>`. Server-side callers must include `x-puddle-storefront-host` when `Origin`/`Referer` is unavailable.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-puddle-storefront-host",
            "schema": {
              "description": "Required for server-side callers when Origin/Referer is unavailable.",
              "type": "string",
              "minLength": 1
            },
            "description": "Required for server-side callers when Origin/Referer is unavailable."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "phone": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "email",
                        "firstName",
                        "lastName"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed because the input is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "The storefront public key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "The storefront public key, host, or customer session is not allowed to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current cart, inventory, or account state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.CONFLICT"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Retry after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.TOO_MANY_REQUESTS"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "accounts-update",
        "summary": "Update customer profile",
        "description": "Updates the profile details for the authenticated customer. Requires `Authorization: Bearer <storefront-public-key>`. Server-side callers must include `x-puddle-storefront-host` when `Origin`/`Referer` is unavailable. Requires a valid customer session cookie for the resolved storefront.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-puddle-storefront-host",
            "schema": {
              "description": "Required for server-side callers when Origin/Referer is unavailable.",
              "type": "string",
              "minLength": 1
            },
            "description": "Required for server-side callers when Origin/Referer is unavailable."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 50
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 50
                  },
                  "phone": {
                    "type": "string",
                    "pattern": "^\\+?[0-9\\s\\-()]{10,20}$"
                  }
                },
                "required": [
                  "firstName",
                  "lastName"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "The request could not be processed because the input is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "The storefront public key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "The storefront public key, host, or customer session is not allowed to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current cart, inventory, or account state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.CONFLICT"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Retry after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.TOO_MANY_REQUESTS"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/account/marketing": {
      "get": {
        "operationId": "accounts-marketing-get",
        "summary": "Get marketing consent",
        "description": "Retrieves the marketing consent status for the authenticated customer. Requires `Authorization: Bearer <storefront-public-key>`. Server-side callers must include `x-puddle-storefront-host` when `Origin`/`Referer` is unavailable. Requires a valid customer session cookie for the resolved storefront.",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "consent": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "consent"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed because the input is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "The storefront public key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "The storefront public key, host, or customer session is not allowed to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current cart, inventory, or account state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.CONFLICT"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Retry after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.TOO_MANY_REQUESTS"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "accounts-marketing-update",
        "summary": "Update marketing consent",
        "description": "Updates the marketing consent status for the authenticated customer. Requires `Authorization: Bearer <storefront-public-key>`. Server-side callers must include `x-puddle-storefront-host` when `Origin`/`Referer` is unavailable. Requires a valid customer session cookie for the resolved storefront.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-puddle-storefront-host",
            "schema": {
              "description": "Required for server-side callers when Origin/Referer is unavailable.",
              "type": "string",
              "minLength": 1
            },
            "description": "Required for server-side callers when Origin/Referer is unavailable."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "consent": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "consent"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed because the input is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "The storefront public key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "The storefront public key, host, or customer session is not allowed to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current cart, inventory, or account state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.CONFLICT"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Retry after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.TOO_MANY_REQUESTS"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/account/orders": {
      "get": {
        "operationId": "accounts-orders-list",
        "summary": "List customer orders",
        "description": "Retrieves a list of orders for the authenticated customer. Requires `Authorization: Bearer <storefront-public-key>`. Server-side callers must include `x-puddle-storefront-host` when `Origin`/`Referer` is unavailable. Requires a valid customer session cookie for the resolved storefront.",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "shortId": {
                        "type": "string"
                      },
                      "status": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "PENDING",
                              "PROCESSING",
                              "AWAITING_SHIPMENT",
                              "AWAITING_COLLECTION",
                              "COLLECTED",
                              "SHIPPED",
                              "DELIVERED",
                              "CANCELLED"
                            ]
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "placedAt": {
                        "anyOf": [
                          {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "total": {
                        "type": "number"
                      },
                      "subtotal": {
                        "type": "number"
                      },
                      "discount": {
                        "type": "number"
                      },
                      "shipping": {
                        "type": "number"
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "product": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "primaryImageId": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "primaryImageUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "primaryImageSrcSet": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "type": {
                                  "type": "string"
                                },
                                "digitalFileUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "trackInventory": {
                                  "anyOf": [
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "primaryImageId",
                                "type",
                                "trackInventory"
                              ],
                              "additionalProperties": false
                            },
                            "productVariant": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "imageId": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "imageUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "imageUrlSet": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "attributes": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "propertyNames": {
                                        "type": "string"
                                      },
                                      "additionalProperties": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "imageId",
                                "attributes"
                              ],
                              "additionalProperties": false
                            },
                            "status": {
                              "type": "string"
                            },
                            "discount": {
                              "type": "number"
                            },
                            "saleId": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "quantity": {
                              "type": "number"
                            },
                            "price": {
                              "type": "number"
                            },
                            "customText": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "propertyNames": {
                                    "type": "string"
                                  },
                                  "additionalProperties": {
                                    "type": "string"
                                  }
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "product",
                            "productVariant",
                            "discount",
                            "quantity",
                            "price"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "currency": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "couponCode": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "giftCardId": {
                        "anyOf": [
                          {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "giftCardUsage": {
                        "default": 0,
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      },
                      "giftCardApplications": {
                        "default": [],
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "giftCardId": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$"
                            },
                            "code": {
                              "type": "string"
                            },
                            "amount": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "giftCardId",
                            "code",
                            "amount"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "paymentStatus": {
                        "type": "string",
                        "enum": [
                          "AWAITING_PAYMENT",
                          "PAID",
                          "PARTIALLY_PAID",
                          "REFUNDED",
                          "PARTIALLY_REFUNDED"
                        ]
                      },
                      "paymentProvider": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "PAYSTACK"
                            ]
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "paymentCapturedAmount": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      },
                      "refundedAmount": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      }
                    },
                    "required": [
                      "id",
                      "shortId",
                      "status",
                      "placedAt",
                      "total",
                      "subtotal",
                      "discount",
                      "shipping",
                      "products"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed because the input is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "The storefront public key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "The storefront public key, host, or customer session is not allowed to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current cart, inventory, or account state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.CONFLICT"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Retry after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.TOO_MANY_REQUESTS"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/account/orders/{orderId}": {
      "get": {
        "operationId": "accounts-orders-get",
        "summary": "Get order",
        "description": "Retrieves details of a specific order for the authenticated customer. Requires `Authorization: Bearer <storefront-public-key>`. Server-side callers must include `x-puddle-storefront-host` when `Origin`/`Referer` is unavailable. Requires a valid customer session cookie for the resolved storefront.",
        "tags": [
          "accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-puddle-storefront-host",
            "schema": {
              "description": "Required for server-side callers when Origin/Referer is unavailable.",
              "type": "string",
              "minLength": 1
            },
            "description": "Required for server-side callers when Origin/Referer is unavailable."
          },
          {
            "in": "path",
            "name": "orderId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "shortId": {
                      "type": "string"
                    },
                    "status": {
                      "anyOf": [
                        {
                          "type": "string",
                          "enum": [
                            "PENDING",
                            "PROCESSING",
                            "AWAITING_SHIPMENT",
                            "AWAITING_COLLECTION",
                            "COLLECTED",
                            "SHIPPED",
                            "DELIVERED",
                            "CANCELLED"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "placedAt": {
                      "anyOf": [
                        {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "total": {
                      "type": "number"
                    },
                    "subtotal": {
                      "type": "number"
                    },
                    "discount": {
                      "type": "number"
                    },
                    "shipping": {
                      "type": "number"
                    },
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "primaryImageId": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "primaryImageUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "primaryImageSrcSet": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "type": {
                                "type": "string"
                              },
                              "digitalFileUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "trackInventory": {
                                "anyOf": [
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "primaryImageId",
                              "type",
                              "trackInventory"
                            ],
                            "additionalProperties": false
                          },
                          "productVariant": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "imageId": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "imageUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "imageUrlSet": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "attributes": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "imageId",
                              "attributes"
                            ],
                            "additionalProperties": false
                          },
                          "status": {
                            "type": "string"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "saleId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number"
                          },
                          "customText": {
                            "anyOf": [
                              {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "product",
                          "productVariant",
                          "discount",
                          "quantity",
                          "price"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "currency": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "couponCode": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "giftCardId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "giftCardUsage": {
                      "default": 0,
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "giftCardApplications": {
                      "default": [],
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "giftCardId": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$"
                          },
                          "code": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          }
                        },
                        "required": [
                          "giftCardId",
                          "code",
                          "amount"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "paymentStatus": {
                      "type": "string",
                      "enum": [
                        "AWAITING_PAYMENT",
                        "PAID",
                        "PARTIALLY_PAID",
                        "REFUNDED",
                        "PARTIALLY_REFUNDED"
                      ]
                    },
                    "paymentProvider": {
                      "anyOf": [
                        {
                          "type": "string",
                          "enum": [
                            "PAYSTACK"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "paymentCapturedAmount": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "refundedAmount": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    "customerId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "customerFirstName": {
                      "type": "string"
                    },
                    "customerLastName": {
                      "type": "string"
                    },
                    "customerEmail": {
                      "type": "string",
                      "format": "email",
                      "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    },
                    "customerNotes": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "adminNotes": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "paymentSummary": {
                      "type": "object",
                      "properties": {
                        "provider": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "PAYSTACK"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "status": {
                          "default": "AWAITING_PAYMENT",
                          "type": "string",
                          "enum": [
                            "AWAITING_PAYMENT",
                            "PAID",
                            "PARTIALLY_PAID",
                            "REFUNDED",
                            "PARTIALLY_REFUNDED"
                          ]
                        },
                        "capturedAmount": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "refundedAmount": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "refundableAmount": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "provider",
                        "status",
                        "capturedAmount",
                        "refundedAmount",
                        "refundableAmount"
                      ],
                      "additionalProperties": false
                    },
                    "refundHistory": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$"
                          },
                          "provider": {
                            "type": "string",
                            "enum": [
                              "PAYSTACK"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "PENDING",
                              "SUCCEEDED",
                              "FAILED",
                              "REQUIRES_MANUAL_ACTION"
                            ]
                          },
                          "amount": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "shippingAmount": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "reason": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "providerRefundId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "failureCode": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "failureMessage": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "orderProductId": {
                                  "type": "string",
                                  "format": "uuid",
                                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$"
                                },
                                "quantity": {
                                  "type": "integer",
                                  "minimum": 0,
                                  "maximum": 9007199254740991
                                },
                                "amount": {
                                  "type": "integer",
                                  "minimum": 0,
                                  "maximum": 9007199254740991
                                }
                              },
                              "required": [
                                "orderProductId",
                                "quantity",
                                "amount"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "requestedByAdminId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "requestedByAdminName": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "updatedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "provider",
                          "status",
                          "amount",
                          "shippingAmount",
                          "lineItems",
                          "createdAt",
                          "updatedAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "deliveryMethod": {
                      "type": "string"
                    },
                    "deliveryMethodId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000)$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "deliveryMethodCode": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "deliveryMethodSnapshot": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "code": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "iconKey": {
                              "type": "string"
                            },
                            "notificationCard": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "enabled": {
                                      "type": "boolean"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "ctaLabel": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "ctaHref": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "title"
                                  ],
                                  "additionalProperties": false
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "code",
                            "type",
                            "name",
                            "iconKey"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "deliveryMethodPayload": {
                      "anyOf": [
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "deliveryAddress": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "recipientName": {
                              "type": "string",
                              "minLength": 1
                            },
                            "recipientPhone": {
                              "type": "string",
                              "minLength": 10
                            },
                            "company": {
                              "type": "string"
                            },
                            "streetAddress": {
                              "type": "string",
                              "minLength": 3
                            },
                            "localArea": {
                              "type": "string",
                              "minLength": 2
                            },
                            "city": {
                              "type": "string",
                              "minLength": 2
                            },
                            "postalCode": {
                              "type": "string",
                              "minLength": 4,
                              "maxLength": 4
                            },
                            "zone": {
                              "type": "string",
                              "minLength": 2
                            },
                            "country": {
                              "default": "ZA",
                              "type": "string"
                            },
                            "lat": {
                              "type": "number"
                            },
                            "lng": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "recipientName",
                            "recipientPhone",
                            "streetAddress",
                            "localArea",
                            "city",
                            "postalCode",
                            "zone",
                            "country"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "billingAddress": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "recipientName": {
                              "type": "string",
                              "minLength": 1
                            },
                            "recipientPhone": {
                              "type": "string",
                              "minLength": 10
                            },
                            "company": {
                              "type": "string"
                            },
                            "streetAddress": {
                              "type": "string",
                              "minLength": 3
                            },
                            "localArea": {
                              "type": "string",
                              "minLength": 2
                            },
                            "city": {
                              "type": "string",
                              "minLength": 2
                            },
                            "postalCode": {
                              "type": "string",
                              "minLength": 4,
                              "maxLength": 4
                            },
                            "zone": {
                              "type": "string",
                              "minLength": 2
                            },
                            "country": {
                              "default": "ZA",
                              "type": "string"
                            },
                            "lat": {
                              "type": "number"
                            },
                            "lng": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "recipientName",
                            "recipientPhone",
                            "streetAddress",
                            "localArea",
                            "city",
                            "postalCode",
                            "zone",
                            "country"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "deliveryInstructions": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "deliveryCarrier": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "deliveryTrackingId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "deliveryTrackingReference": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "shortId",
                    "status",
                    "placedAt",
                    "total",
                    "subtotal",
                    "discount",
                    "shipping",
                    "products",
                    "customerId",
                    "customerFirstName",
                    "customerLastName",
                    "customerEmail",
                    "deliveryMethod",
                    "deliveryAddress"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed because the input is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "The storefront public key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "The storefront public key, host, or customer session is not allowed to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current cart, inventory, or account state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.CONFLICT"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Retry after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.TOO_MANY_REQUESTS"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/auth/request-otp": {
      "post": {
        "operationId": "accounts-auth-requestOtp",
        "summary": "Request OTP",
        "description": "Requests a one-time password (OTP) for customer authentication. Requires `Authorization: Bearer <storefront-public-key>`. Server-side callers must include `x-puddle-storefront-host` when `Origin`/`Referer` is unavailable.",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-puddle-storefront-host",
            "schema": {
              "description": "Required for server-side callers when Origin/Referer is unavailable.",
              "type": "string",
              "minLength": 1
            },
            "description": "Required for server-side callers when Origin/Referer is unavailable."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed because the input is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "The storefront public key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "The storefront public key, host, or customer session is not allowed to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current cart, inventory, or account state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.CONFLICT"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Retry after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.TOO_MANY_REQUESTS"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify-otp": {
      "post": {
        "operationId": "accounts-auth-verifyOtp",
        "summary": "Verify OTP",
        "description": "Verifies the one-time password (OTP) to authenticate the customer. Requires `Authorization: Bearer <storefront-public-key>`. Server-side callers must include `x-puddle-storefront-host` when `Origin`/`Referer` is unavailable.",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-puddle-storefront-host",
            "schema": {
              "description": "Required for server-side callers when Origin/Referer is unavailable.",
              "type": "string",
              "minLength": 1
            },
            "description": "Required for server-side callers when Origin/Referer is unavailable."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "otp": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 6
                  },
                  "firstName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "phone": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 30
                  }
                },
                "required": [
                  "email",
                  "otp"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "session": {
                      "type": "object",
                      "properties": {
                        "session": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "storeId": {
                              "type": "string"
                            },
                            "customerId": {
                              "type": "string"
                            },
                            "expiresAt": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "storeId",
                            "customerId",
                            "expiresAt"
                          ],
                          "additionalProperties": false
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "firstName": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "lastName": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "phone": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "storeId": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "email",
                            "firstName",
                            "lastName",
                            "phone",
                            "storeId"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "session",
                        "user"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "session"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed because the input is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "The storefront public key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "The storefront public key, host, or customer session is not allowed to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current cart, inventory, or account state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.CONFLICT"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Retry after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.TOO_MANY_REQUESTS"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/auth/session": {
      "get": {
        "operationId": "accounts-auth-getSession",
        "summary": "Get session",
        "description": "Retrieves the current customer session details. Requires `Authorization: Bearer <storefront-public-key>`. Server-side callers must include `x-puddle-storefront-host` when `Origin`/`Referer` is unavailable.",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "session": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "storeId": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "expiresAt": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "storeId",
                                "customerId",
                                "expiresAt"
                              ],
                              "additionalProperties": false
                            },
                            "user": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "firstName": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "lastName": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "phone": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "storeId": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id",
                                "email",
                                "firstName",
                                "lastName",
                                "phone",
                                "storeId"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "session",
                            "user"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "session"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed because the input is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "The storefront public key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "The storefront public key, host, or customer session is not allowed to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current cart, inventory, or account state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.CONFLICT"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Retry after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.TOO_MANY_REQUESTS"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/auth/sign-out": {
      "post": {
        "operationId": "accounts-auth-signOut",
        "summary": "Sign out",
        "description": "Signs out the currently authenticated customer. Requires `Authorization: Bearer <storefront-public-key>`. Server-side callers must include `x-puddle-storefront-host` when `Origin`/`Referer` is unavailable.",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed because the input is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "The storefront public key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "The storefront public key, host, or customer session is not allowed to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "409": {
            "description": "The request conflicts with the current cart, inventory, or account state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.CONFLICT"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Retry after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.TOO_MANY_REQUESTS"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/cart/checkout": {
      "post": {
        "operationId": "cart-checkout",
        "summary": "Initialise checkout",
        "description": "Initialises checkout for the current cart and returns the checkout session details. Requires `Authorization: Bearer <storefront-public-key>`. Server-side callers must include `x-puddle-storefront-host` when `Origin`/`Referer` is unavailable.",
        "tags": [
          "cart"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-puddle-storefront-host",
            "schema": {
              "description": "Required for server-side callers when Origin/Referer is unavailable.",
              "type": "string",
              "minLength": 1
            },
            "description": "Required for server-side callers when Origin/Referer is unavailable."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "couponCode": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "giftCardCodes": {
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "deliveryMethod": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
[...]
